# Protocol Configuration
APP_ENV=production
PORT=8000
LOG_LEVEL=INFO

# Blockchain & Network
RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
ESCROW_CONTRACT_ADDRESS=0xF2D0F7cb12dF286ABba3683810E4228A4e72C61C
ARBITER_WALLET_ADDRESS=0x082b38aeA5D1bB7FEF3C16818f2E76809f2bA685

# Security & Secrets Management
# In production, do NOT store raw private keys here. Use KEYSTORE_PATH.
ARBITER_KEYSTORE_PATH=./secrets/arbiter_keystore.json
ARBITER_KEYSTORE_PASSWORD=
