# Python cache & build
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual Environment
venv/
.venv/
env/

# Databases & local storage
*.db
*.sqlite
*.sqlite3
storage/*.db

# Secrets & Local configs
.env
*.pem
*.key

# IDEs & System
.vscode/
.idea/
Thumbs.db
.DS_Store

# Executables
*.exe

# Encrypted Keystores and Secrets
secrets/
*.keystore.json
